.anchor {
    -fx-background-image:url('file:/C:/Users/Ruben/Desktop/Control/morado.jpg');
    -fx-background-repeat: stretch;
}
.imagetop{
    -fx-background-image:url('file:/C/Users/Ruben/Desktop/Control/header.png');
}
.resize{
    -fx-image-size: contain;
    -fx-image-repeat: no-repeat;
    -fx-image-position: center;
}
.Teclado{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #8e459cAA;
    -fx-font-size: 40px;
    -fx-font-family: "Century Gothic";

    -fx-border-radius: 30px;

}
.Continuar{
    -fx-text-fill:white ;
    -fx-background-color: #91d79d;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 18px;
}
.Regresar{
    -fx-text-fill:white ;
    -fx-background-color: #d36a66;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 18px;
}
.Teclado:hover{
    -fx-background-color: #d7c929;
    -fx-text-fill: white;



}
.Teclado:pressed{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.txtTeclado {
    -fx-background-color: transparent ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-size: 60px;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
}

.txtTeclado:focused {
    -fx-text-alignment: center;
    -fx-background-color: transparent ;
}


.btnMateria {
    -fx-background-color: #866ea5;
    -fx-border-color: rgba(163, 64, 165, 0.58);
    -fx-border-width: 1;

    -fx-text-fill: white;
    -fx-font-size: 40px;


    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;


    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}
.admin:hover{
    -fx-background-color: darkorange;

}
.admin:pressed{
    -fx-background-color: darkorchid;
}

.btnMateria:hover {
    -fx-background-color: #745e8e;
}
.btnMateria:pressed {
    -fx-background-color: #684f7f;
}

.btnAtras {
    -fx-background-color: #FFFFFF00;

}
.labelListas {
    -fx-font-size: 20px;
}